#bodyPanel {
  padding: 1rem;
  overflow: hidden;
  text-align: left;
  height: 100vh;
}

.zTheme #bodyPanel{
  clip-path: inset(0.9rem round 1.5rem)
}

body{
  overflow: hidden;
}

#vidBG {
  width: calc(100vw - 1.9rem);
  height: calc(100vh - 1.9rem);
  border-radius: 1.5rem;
  overflow: hidden;
}

.aTheme #vidBG {
  box-shadow: #00000003 0 5px 15px, #191c2113 0 15px 35px -5px, #00000003 0 0 0 1px;
}

.aTheme.dark #vidBG{
  box-shadow: #00000014 0 5px 15px, #191c2133 0 15px 35px -5px, #ffffff12 0 0 0 1px;
}

.aTheme.dark #vidBG video{
  filter: grayscale(1) ;
}

#vidBG video,
.zTheme #vidBG video{
  display: none;
}

.aTheme #vidBG video {
  object-fit: cover;
  filter: sepia(1) brightness(0.7) invert(1) ;
  transition: all 0.2s ease-in-out;
  display: block;
}

#credits {
  pointer-events: all;
  position: fixed;
  bottom: 0px;
  font-size: x-small;
  width: 100vw;
  text-align: center;
  opacity: 0.7;
  z-index: 999;
}

#pageContent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  transition: all 0.2s ease-in-out;
}

#navbar .navbar{
  transition: all;
  transition-duration: .2s;
  box-shadow: #00000007 0 5px 15px, #191c210c 0 15px 35px -5px, #00000006 0 0 0 1px;
}

.dark #navbar .navbar{
  box-shadow: #00000014 0 5px 15px, #191c2133 0 15px 35px -5px, #ffffff12 0 0 0 1px;
}

html.zTheme #vidBG {
  background-image: url('/media/bgZtheme.png');
  background-size: cover;
  background-repeat: no-repeat;
}

html.zTheme.dark #vidBG {
  filter: invert(1);
  border-color: #cebea7; /* Inverted border color */
}

html.zTheme #pageContent:has(#HomeSocialButtonGroup){
  background-image: url('/media/bgZthemeHome.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:right;
}

html.zTheme.dark #pageContent:has(#HomeSocialButtonGroup){
  background-image: url('/media/bgZthemeHomeDark.png');
}
/*
html:not(.aTheme, .zTheme) #vidBG{
  border: none;
	background-color: #fff;
  box-shadow:
  inset 0px 0px 0px 0px #e4e6ff,
  inset 0px 0px 0px 5px #fff,
  inset 0px 0px 0px 10px #e4e6ff;
} */

html:not(.aTheme, .zTheme) #vidBG{
  border: none;
	background-color: #e4e6ff;
}


html:not(.aTheme, .zTheme) body{
  background-color: #e4e6ff;
}