@import './base.css';

/* app mount */

#app {
  padding: 1rem;
  background: white;
}

html.dark #app {
  background: black;
}

/* The site container */

/* html:not(.zTheme) #bodyPanel {
  background: url('/bg.png');
  background-position: center;
}

html:not(.zTheme).dark #bodyPanel {
  background: url('/bg.png') black;
  background-blend-mode: hard-light;
  background-position: center;
} */

#vidBG {
  max-width: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  zoom: 1.15;
  filter: sepia(1) brightness(0.7) invert(1);
  background-image: url('/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#vidBG img {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
}

.dark #vidBG {
  filter: grayscale(1);
}

.zTheme #vidBG {
  display: none;
}

html.zTheme #bodyPanel {
  background-image: url('/bgZtheme.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#bodyPanel {
  overflow: hidden;
  text-align: left;
}

#bodyPanel:before {
  content: '';
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  background: inherit;
  border-radius: 1.5rem;
  transition: filter 1s;
}

html.dark #bodyPanel:before {
  transition: filter 1s;
  filter: invert(1);
}

/* Faeq title - home page*/

#Faeq:before {
  content: '';
  background: url(/underline.png) no-repeat;
  position: absolute;
  width: 288px;
  height: 20px;
  bottom: 2.7rem;
}

.zTheme #Faeq:before {
  background: url(/underlineZtheme.png) no-repeat;
  width: 288px;
  height: 20px;
}

/* after is in scoped styles - extends underline */
html.dark #Faeq:after,
html.dark #Faeq:before {
  filter: invert(1) brightness(1.5);
}
